@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    
}
body{
    background-image: url(../public/cool-background.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    background-size:cover;
    overflow-x: hidden;
    
    

}